[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-black = "*"
flake8-copyright = "*"
flake8-file-encoding = "*"
mypy = ">=0.500"
pytest = "*"
pytest-cov = "*"
wheel = "*"
code-snippet = {editable = true, path = "."}
continuous-delivery-scripts = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true
